<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuanfy.monitorsite.system.dao.UserMapper">
	
	<resultMap type="com.yuanfy.monitorsite.system.entity.UserEntity" id="userMap">
		<id column="id" property="id"/>
		<result column="register_time" property="registerTime"/>
		<result column="last_login_time" property="lastLoginTime"/>
	</resultMap>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into tb_sys_user(
			name, 
			password,
			email,
			phone,
			register_time,
			last_login_time
		) values (
			#{name}, 
			#{password},
			#{email},
			#{phone},
			now(),
			now()
		)	
	</insert>
	
	<update id="update">
		update tb_sys_user set 
			password = #{password},
			email = #{email},
			phone = #{phone}
		where id = #{id}
	</update>
	
	<delete id="deleteById">
		delete from tb_sys_user where id = #{id}
	</delete> 
	
	<select id="getById">
		select * from tb_sys_user
	</select>
	
	<select id="isValidateUserUnique" resultType="java.lang.Integer">
        select (
        case 
        	when (select count(id) from tb_sys_user where phone = #{phone}) > 0 then 3
        	when (select count(id) from tb_sys_user where email = #{email}) > 0 then 2
            when (select count(id) from tb_sys_user where name = #{name}) > 0 then 1
            else 0
        END) as number
	</select>
	
	<select id="getLoginUser" resultMap="userMap">
		select * from tb_sys_user where (email = #{name} or phone = #{name}) and password = #{password}
	</select>
</mapper>